@font-face {
  font-family: ETBembo;
  src: url("../fonts/ETBembo-RomanLF.ttf");
}

@font-face {
  font-family: ETBembo;
  src: url("../fonts/ETBembo-DisplayItalic.ttf");
  font-weight: normal;
  font-style: italic;
}