@font-face {
  font-family: ETBembo;
  src: url("../fonts/ETBembo-RomanLF.woff");
}

@font-face {
  font-family: ETBembo;
  src: url("../fonts/ETBembo-DisplayItalic.woff");
  font-weight: normal;
  font-style: italic;
}