@font-face {
  font-family: ETBembo;
  src: url('../fonts/ETBembo-RomanLF.woff2') format('woff2');
}

@font-face {
  font-family: ETBembo;
  src: url('../fonts/ETBembo-DisplayItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}